[mysqld]
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
log-error=error.log
# bind-address is the servers public IP address
bind-address=172.18.0.2
port=3306
user=mysql

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4